body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.icon-photo {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 15px 15px 0;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer; 
}

.background-photo {
    width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    padding-top: 150px; 
    padding-bottom: 75px;
    font-size: 20px;
}

.intro {
    margin-bottom: 20px;
}

.intro h2, .mission h2, .team h2 {
    color: #333;
    text-align: center;
    padding: 10px; 
    border-radius: 15px; 
    width: fit-content; 
    margin: 20px auto 0; 
}

.intro p, .mission p {
    line-height: 1.25;
}

.intro ul {
    padding-left: 20px;
}

.intro p, .mission p {
    margin-bottom: 15px;
}

.team .details {
    list-style-type: none;
    padding: 0;
}

.team .details li {
    margin-bottom: 10px;
}

.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    backdrop-filter: blur(15px); /* Blurs the background */
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px; /* Add padding to space out the content */
    width: 35%; 
    background-color: transparent; 
    color: #000; 
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    top: 50%;
    transform: translateY(-50%); /* Vertically center the modal */
}

.modal-content h2 {
    padding: 10px; /* Add padding to the heading */
    border: 5px solid #daa520;
    background-color: white; /* White background */
    color: #000; /* Black text */
    border-radius: 15px; /* Rounded corners */
    text-align: center;
    width: fit-content; /* Adjust button size */
    margin: 20px auto 0; /* Center the button and add margin to space out */
}

.modal-photo {
    width: auto;
    height: 500px;
    border-radius: 500px;
    border: 10px solid #daa520;
    margin-bottom: 10px; /* Add margin to space out the photo and name */
}

/* Hide the close button */
.close-button {
    display: none;
}
