/* Styles for the footer */
footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: goldedrod;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1; /* Ensure it is above other content */
}

/* Remove link color and underline decoration */
footer a {
    color: inherit; /* Inherit text color from parent (black) */
    text-decoration: none; /* Remove underline decoration */
}
