/* Styles for the footer */
footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: goldenrod;
    color: black;
    text-align: center;
    margin: 0%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Remove link color and underline decoration */
footer a {
    color: inherit; /* Inherit text color from parent (black) */
    text-decoration: none; /* Remove underline decoration */
}
