body {
    background-color: black;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body, .information > *:not(.fancy-label) {
    align-items: center;
}

.information {
    justify-content: center;
    text-align: center;
    color: #FFF;
}

form {
    text-decoration: none;
    padding: 20px 0;
}

.fancy-label {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    label {
        position: absolute;
        top: 14px;
        left: 7px;
        padding: 0 5px 0 7.5px;
        border: 0.0px solid #FFF;
        margin-left: 15px;
        background-image: linear-gradient(to top, transparent 20%, black 50%);
        transition: font-size 0.3s, transform 0.3s, background-color 0.3s ease-in-out, color 0.6s ease-in-out; /* Slower transitions */
        transform-origin: top left ease-in;
    }
    
    input {
        text-align: left;
        text-decoration: purple;
        color: #FFF;
        height: 45px;
        padding: 0 25px;
        &:hover + label,
        &:focus + label,
        &:valid + label {
            top: -9px;
            font-size: 12px;
            color: #FFF;
            background-color: maroon;
            transition: .8s top, .3s font-size, 1s background-color, 3s color; /* Slower transitions */
        }
        &:not(:focus):not(:placeholder-shown) + label { /* Fading back when not focused or placeholder is not shown */
            background-color: black;
            color: goldenrod; /* Color set back to initial */
        }
    }
}


.header {
    padding: 0 0 60px 0;
}

label {
    color: goldenrod;
    background-color: black;
}

input {
    background-color: black;
    text-decoration: #FFF;
    border: 2px solid #FFF;
    color: #FFF;
    width: 296px;
    outline: 0;
    margin: 0 15px;
    transition: background-color 2s ease; /* Slower transition */
}

input:focus {
    background: maroon;
}

button {
    width: 350px;
    background: black;
    border: 2px solid #FFF;
    color: goldenrod;
    margin-bottom: 30px;
    padding: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: .6s background ease-in, .6s color ease-in; /* Slower transitions */
    align-items: center;
    color: $accent-color;

    &:hover {
        color: #FFF;
        font-size: larger;
        width: 380px;
        transition: .6s background ease-in, .6s color ease-in, .6s font-size ease-in, .6s width ease-in; /* Slower transitions */
        align-items: center;
        background: maroon;
    }
}
