/* Styles for the entire document */
body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    align-items: center;
}

img {
    align-items: center;
    height: auto; /* Maintain the aspect ratio of the image */
    border: 2px solid #fff; /* Add a border around the image */
}
a img {
    background-color: goldenrod;
    align-items: center;
    color: black;
    padding-top: 0px;
    padding-left: 400px;
    padding-right: 400px;
    position: fixed;
    top: 0;
    border-radius: 1%; /* Apply rounded corners to the image */
    z-index: 100; /* Ensure the header stays on top of other content */

}

header a img {
    height: auto; /* Maintain the original height of the image */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* Clip the bottom 10% of the image */
}

/* Styles for the paywall interface */
.paywall {
    padding-top: 280px;
    text-align: center;
    margin: 50px auto;
    max-width: 600px; /* Added max-width for better responsiveness */
}
.paywall h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #999; /* Improved readability by darkening the text */
}
.paywall p {
    font-size: 16px;
    margin-bottom: 20px; /* Increased margin for better separation */
    color: #ececec; /* Softer color for less emphasis */
}
.paywall span {
    font-weight: bold;
    color: goldenrod;
}
.paywall button {
    padding: 12px 24px; /* Increased padding for better touch target */
    font-size: 18px; /* Larger font size for emphasis */
    background-color: goldenrod;
    color: #fff;
    border: none;
    border-radius: 25px; /* Rounded button for modern look */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.paywall button:hover {
    background-color: #ffd700; /* Lighter shade on hover for better feedback */
    transform: scale(1.05); /* Slightly larger on hover for visual feedback */
}

/* Styles for the payment icons */
.payment-icons {
    display: flex; /* Make icons display in a row */
    justify-content: space-between; /* Distribute space evenly between icons */
    margin-top: 20px; /* Add some space above the icons */
}
.payment-icons img {
    width: 200px; /* Set width of each icon */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add rounded corners */
}
